<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hpuswl.mybatis.mapper.BlogMapper">
    <insert id="insert">
        insert into tb_blog(id, title) values(#{id}, #{title})
    </insert>
    <select id="selectBlog" resultType="com.hpuswl.mybatis.entity.Blog">
    select * from tb_blog where id = #{id}
  </select>
</mapper>